*{
	background-color: #d3d3d3;
	color:  #2f2f2f;
	font-family: 'Bree Serif', serif;
}

.titleOfPage{
	font-size: 5em;
	text-align: center;
	color: #237537
}
form{
	margin-left:10%;
	margin-right: 10%;
	margin-top: 3%;
}
.wrapper{
	display: grid;
	padding: 1em;
	grid-template-columns: 1fr;
	grid-gap: 1em;

}

.usernameWrapper{
	background-color: #ffffff;
	padding: 1em;
	margin-left: auto;
	font-size: 1.3em;
	margin-right: auto;
}
.quantityWrapper{
	display: grid;
	background-color: #ffffff;
	padding:1em;
	grid-template-columns: 1fr 1fr 1fr;
	font-size: 1.7em;
}

.Apple , .Banana , .Orange{
	background-color: #ffffff;
}

.labelfruits{
	background-color: #ffffff;
}
.outputWrapper{
	background-color: #ffffff;
	padding: 1em;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	
}

.outputWrapper>div{  /*Select all div where outputwrapper is the parent*/
	background-color: #ffffff;
}

.containerOutput{
	margin-left: auto;
	margin-right: auto;
}

#outputPriceText{
	font-size: 1.5em;
	height: 8em;
}

.paymentoptionsWrapper{
	background-color: #ffffff;
	padding: 1em;
	font-size: 1.3em;

}

.submitWrapper{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin: 20px;
}

#submitButton{
	height: 3em;
	color: #282828;
	font-size: 1.5em;

}


